/** GENERAL SETUP */
body {
    margin: 0 0 0 0;
    font-family: Comic Sans MS;
    font-family: 'Cute Font', cursive;
    overflow: hidden;
}

i{
    margin: 5px;
}

.bottom-right-corner{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1000;
}

.bottom-right-corner-ingame{
    font-size: 2rem;
    color:rgb(255, 255, 255);
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1000;
}

#logo{
    position: fixed;
    margin-left: 10%;
    margin-top: 10%;
    animation: bounceIn 1s;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px #888888;
}


#top-div{
    background-color: #ffd9b5;
    position: fixed;
    width: 100%;
    height: 100%;
}


button{
    background:#77ccb8;
    color:#fff;
    border:none;
    position:relative;
    margin: 10px 10px 0 10px;
    height:60px;
    font-size:0.5em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline: none;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
    border-radius: inherit;
  }
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}
button:disabled{
    background:#fff;
    color:#1AAB8A;
}

.masking-div{
    position: relative;
    height: 100vh;
    background-color: rgba(126, 126, 126, 0.712);
    z-index: 900;
}

.modal-like{
    text-align: center;
    font-size: 2rem;
    position: fixed;
    margin-top: 100px;
    margin-left: 35%;
    background-color: white;
    border:4px dotted wheat;
    border-radius: 15px;
    min-width: 400px;
    min-height: 300px;
    z-index: 1000;
    animation: bounceIn 1s;
}
/** NAV BAR STYLING */

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    cursor: pointer;
}

header {
    color:yellow;
    font-size: 3rem;
    margin: 25px 10px 0px 10px;
    border-radius: 5px;
    text-shadow: 2px 2px #888888;
    animation: bounceIn 1s;
    cursor: pointer;
}


.nav-bar-item {
    background-color: #daaad3;
    margin: 25px 10px 25px 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    animation: bounceIn 1s;
    text-align: center;
}

@keyframes bounceIn{
    0%{
        transform: translateY(25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.title{
    color: yellow;
    font-size: 17px;
    margin: 5px 5px 5px 5px;
    text-shadow: 2px 2px #888888;
    cursor:default;
}

.hover-enlarge {
    transition: transform .1s;
}

.hover-enlarge:hover{
    transform: scale(1.2);
}

.sidenav {
    height: 100%;
    width: 250px;
    font-size: 25px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #90cbda;
    text-align: center;
    overflow-y: scroll;
    /* padding-bottom: 25px; */
}


/** MAIN AREA THINGGY */

div#main-container {
    background-color: #cdffda;
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 2rem; /* Increased text to enable scrolling */
    position: relative; 
    padding: 0px 10px;
    height: 100vh;
  }

.main-sub-div{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.4rem;
    background-color: #daaad3;
    border-radius: 10px;
    animation: bounceIn 1s;
}

/** GAME STYLING */

#right-top-corner{
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 500;
}

#black-fade-in{
    margin:0 0 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    cursor: url(assets/img/dot_before.png) 17 10, auto;
}

#black-fade-out{
    margin:0 0 0 0;
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    cursor: url(assets/img/dot_after.png) 30 25, auto;
}

.rule-div{
    font-size: 2.5rem;
    text-align: center;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    padding: 10% 10% 10% 10%;
    position: absolute;
    background-color: rgb(252, 226, 141);
    color:rgb(6, 6, 7);
    border: 4px dotted rgb(248, 168, 121);
    border-radius: 10px;
    box-shadow: 10px 10px #888888;
    animation: bounceIn 1s;
}

#countdown{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 5rem;
    scale: 1.3;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-delay: 4s;
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100%{opacity:0; transform:translate(-50%, -50%) scale(3);}
}

#summary{
    text-align: center;
    font-size: 2rem;
    margin: 10px;
}

.game-table{
    position:absolute;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%);
}

/* * THINGGY MOVING AROUND MODULE */
:root {
    --xLocation: 50%;
    --yLocation: 50%;
}

div#dot-lv1 {
    background-color: red;
    position: fixed;
    left: var(--xLocation);
    bottom: var(--yLocation);
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

/** LEVEL 2 MODULES */

div#dot-lv2 {
    background-color: red;
    position: fixed;
    left: var(--xLocation);
    top: var(--yLocation);
    height: 25px;
    width: 25px;
    border-radius: 12px;
}

div#dot-lv3 {
    background-color: red;
    position: fixed;
    left: var(--xLocation);
    top: var(--yLocation);
    height: 18px;
    width: 18px;
    border-radius: 12px;
} 

div#dot-lv4 {
    background-color: red;
    position: fixed;
    left: var(--xLocation);
    top: var(--yLocation);
    height: 20px;
    width: 20px;
    border-radius: 12px;

    animation-duration: 4s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction:alternate;
} 

  @keyframes moving {
    from {
        left: 10%;
        top:10%
    }
    to {
        left: 90%;
        bottom: 90%;
    }
  }
/** POSIBLE IMPLEMENTATION OF HIGHER LV */
  posibleLv5 {
    animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
  }
  
  posibleLv5::after {
    content: '';
    display: block;
    background-color: red;
    position: fixed;
    left: var(--xLocation);
    top: var(--yLocation);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  }
  
  @keyframes yAxis {
    50% {
      animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
      transform: translateY(-200px);
    }
  }
  
  @keyframes xAxis {
    50% {
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
      transform: translateX(200px);
    }
  }